<%= form_with(model: registration, local: true) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :registration_Name %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :Description, id: :registration_Description %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price, id: :registration_Price %>
  </div>

  <div class="field">
    <%= form.label :Seller %>
    <%= form.text_field :Seller, id: :registration_Seller %>
  </div>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :ID, id: :registration_ID %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :registration_Email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
